<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "UP IPTTU", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Expertise", expertise_path %></li>
        <li><%= link_to "Opportunities", opportunities_path %></li>
        <li><%= link_to "ITSO-IPOPHL", itso_ipophl_path %></li>
        <li><%= link_to "Resources", resources_path %></li>
        <li><%= link_to "Log in", '#' %></li>
        <li><%= link_to "Register", '#' %></li>
      </ul>
    </nav>
  </div>
</header>